body {
	background: #f1f1f1;
}

/* container */
.tab-container {
	margin-bottom: 2em;
}

/* label */
.tab-container .label-container {
	position: relative;
}

.tab-container .label-container.top {
	bottom: -1px;
}

.tab-container .label-container.bottom {
	top: -1px;
}

.tab-container .label-container .label-item {
	display: inline-block;
	margin-right: 1em;
	border: 1px #ccc solid;

	background: #fff;
	padding: 0.5em 1em;
	cursor: pointer;
}

.tab-container .label-container .label-active {
	color: red;
}

.tab-container .label-container.top .label-active {
	border-bottom-color: #fff;
}

.tab-container .label-container.bottom .label-active {
	border-top-color: #fff;
}

/* page */
.tab-container .page-container {
	border: 1px #ccc solid;
	padding: 1em;
	background: #fff;
}